.content {
            background: #e0e0e0;
            padding: 20px;
            min-height: 465px;
            text-align: center;
            vertical-align: middle;
            flex: 1;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
}
.detail-buku {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .detail-buku img {
            width: 300px;
            height: auto;
            border-radius: 8px;
            object-fit: cover;
        }

        .info-buku {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
        }

        .info-buku .label {
            font-weight: bold;
            color:black;
        }

        .harga {
            font-size: 20px;
            color: goldenrod;
            font-weight: bold;
            margin-top: 10px;
        }

        .sinopsis {
            margin-top: 40px;
        }

        .sinopsis h3 {
            margin-bottom: 10px;
            color: goldenrod;
        }

        .sinopsis p {
            line-height: 1.6;
            text-align: justify;
        }